.noto-serif-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    max-width: 1140px;
    max-height: 71px;
    padding: 10px 150px;
    margin-bottom: 120px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-link .home,
.nav-link .shop,
.nav-link .about {
  display: block; 
}
.nav-link a{
    text-decoration: none;
}
.home a{
    font-size: medium;
    font-weight: bold;
    color: black;
}
.shop a{
    font-size: medium;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}
.about a{
    font-size: medium;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}
.cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart a{
    font-size: medium;
    font-weight: 400;
    color: rgb(32, 32, 37);
}
.cart img{
    width: 24px;
    height: 24px;
}
/* always fresh flower */
.fresh{
    max-width: 1140px;
    padding: 0px 150px;
    display: flex;
    margin-bottom: 120px;
}
.fresh-flowers{
    display: flex;
}
.fresh-flowers-headers{
    font-weight: bold;
    font-size: 2rem;
}
.fresh-flowers-description{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.description-img{
    width: 100%;
    height: 355px;
}
/* our plant */

.our-plants {
  padding: 60px 20px;
  background: #fff;
  text-align: center;
  margin-bottom: 211px;
}

.plants-container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Title */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Description */
.section-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Grid Layout */
.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 270px); /* 4 columns */
  grid-auto-rows: 484.94px;                /* each card height */
  gap: 10px;
  justify-content: center;
}

/* Individual Cards */
.plant-card {
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.plant-card img {
  width: 270px;
  height: 322.94px;
  margin-bottom: 10px;
}

.plant-card .lilly-bloosom {
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
}
.plant-card .usd{
    font-weight: bold;
    margin-top: -20px;
    font-size: 1.3rem;
}
.plant-card .btn-primary a{
    text-decoration: none;
    color: white;
}
.plant-card button {
  background: rgba(233, 90, 8, 1);;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
}
/* plants lover */
.plants{
    width: 1140px;
    padding-left: 130px;
    margin-bottom: 133px;
}
.plants-lover{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 60px;

}

.left-side .image-wrapper {
    position: relative;
}

.main-image {
    width: 540px;
  height: 597px;
  display: block;
  border-radius: 10px;
}

.corner-image {
  position: absolute;
  top: -130px;
  right: -90px;
  width: 286px; 
  height: 286px;
}

.right-side {
    padding-right: 130px;
  
}

.plants-lover-title {
    color: black; 
    font-weight: bold; 
    font-size: 3rem;
  margin-bottom: 15px;
}

.right-side ul {
  list-style-type: disc;
}

.right-side li {
  margin-bottom: 15px;
}
.para{
    color: rgba(137, 135, 161, 1); 
    font-size: 1.2rem; 
    text-align: left;
}
/* latest details */
.latest-details {
    width: 1140px;
  padding: 0 150px;
  text-align: center;
}
.latest-section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-section-header-title{
  font-size: 3.1rem;
  margin-bottom: 10px;
}

.latest-section-header-details{
  font-size: 1.4rem;
  width: 888px;
  height: 54px;
  color: rgba(0, 0, 0, 0.5);
  
}

.image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
  gap: 25px;
}
.left-images{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image-box-left{
  position: relative;
  width: 361px;
  height: 201px;
  overflow: hidden;
  border-radius: 10px;
}

.image-box-left img {
  width: 361px;
  height: 201px;
  object-fit: cover;
  display: block;
  border-radius: 14px;
  filter: brightness(50%) contrast(100%);


}
.image-box-right{
  position: relative;
  width: 753px;
  height: 423px;
  overflow: hidden;
  border-radius: 14px;
}
.image-box-right img{
    border-radius: 14px;
    filter: brightness(50%) contrast(100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.overlay .discount {
  font-size: 1.25rem;
  font-weight: bold;
}

.overlay .shop-now{
  margin-top: 10px;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
}
.discount-zabo{
    margin-top: 90px;
    font-size: 2.25rem;
  font-weight: bold;
}
.shop-now-zabo{
   font-size: 1.75rem;
   font-weight: 500;
   color: white; 
}
.overlay .shop-now-zabo{
  margin-top: 10px;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
}

.shop-now, .shop-now-zabo:hover {
  background: #61563a;
}


/* media responsive navbar */
@media screen and (max-width: 500px) {
    .header{
        width: 361px;
        height: 38px;
    }
  .nav-link .home,
  .nav-link .shop,
  .nav-link .about {
    display: none;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    display: flex;
    align-items: center;
    text-align: center;
  }
  /* fresh-section */
  .fresh{
    width: 393px;
    display: flex;
    flex-direction: column-reverse;
  }
  .description{
    width: 361px;
    height: 66px;
  }
  .description-img img{
    width: 393px;
    height: 245px;
  }
  .fresh-flowers-headers{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: -100px;
  }
  /* our plants */
  .our-plants{          
  width: 393px;
  margin-left: 110px; 
  margin-bottom: 41.5px;               
}

.container {
  align-items: center;
  text-align: center;
}
.section-description{
    width: 336px;
    height: 68px;
}

.plant-grid {
  display: grid;            
  grid-template-columns: repeat(2, 171px); 
  justify-content: center;
   row-gap: 10px; 
  column-gap: 15px;
   
}

.plant-card {
  width: 171px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  gap: 6px;
}

.plant-card img {
  width: 171px;
  height: 196.5px;
  object-fit: cover;
}

.plant-card .lilly-bloosom {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-top: -100px;
  margin-bottom: -50px;
}

.plant-card .usd {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-top: -80px;
}

.plant-card button {
  font-size: 1rem;
  width: 100%;
  padding: 8px 0;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: -100px;
}
/* olant lover section */
.plants{
    width: 361px;
    height: 648px;
    
}
.plants-lover{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .main-image {
    width: 358px;
    height: 396px;
  }

  .corner-image {
    display: none; 
  }

  .right-side {
    padding: 10px;
    text-align: left;
    margin-top: -50px;
  }

  .plants-lover-title {
    width: 270px;
    height: 33px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .right-side p {
    font-size: 14px;
  }
  /* latest details */
   .latest-details {
    width: 100%;
    padding-left: 95px;
    text-align: center;
  }

  .latest-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .latest-section-header-title {
    font-size: 1.5rem;
  }

  .latest-section-header-details {
    width: 336px;
    height: 68px;
    font-size: 0.9rem;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 60px;
  }

  .image-grid {
    flex-direction: column;
    gap: 10px;
    padding-left: 80px;
  }

  .left-images,
  .right-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .image-box-left,
  .image-box-right {
    width: 361px !important;
    height: 172px !important;
  }

  .image-box-left img,
  .image-box-right img {
    width: 361px !important;
    height: 171px !important;
    object-fit: cover;
  }

    .overlay {
    padding-top: 30px;
    justify-content: flex-start;
  }

  .discount-zabo {
    margin-top: 30px;
    font-size: 1.25rem;
  }

  .shop-now-zabo {
    font-size: 1rem;
  }

  .overlay .discount {
    font-size: 1.25rem;
  }

  .overlay .shop-now {
    font-size: 1rem;
    padding: 5px 12px;
  }

}
